
<suite name="Automation_Test" verbose="1">
    <test name="api_test">
    <classes>
        <class name="automation_test.api_test.SimpleGetTest"/>
        <class name="automation_test.api_test.SimplePostTest"/>
        <class name="automation_test.api_test.SimplePUTTest"/>
        <class name="automation_test.api_test.SimplePATCHTest"/>
        <class name="automation_test.api_test.SimpleDeleteTest"/>
    </classes>
    </test>
</suite>
